# 3 Python的数据结构、函数和文件

## 3.1 数据结构和序列

**元组**

In [2]:
tup = 4,5,6
tup

(4, 5, 6)

In [7]:
nest_tup = (4,5,6),(7,8)
nest_tup

((4, 5, 6), (7, 8))

用tuple可以将任意序列或迭代器转换成元组

In [9]:
tuple([4,0,2])

(4, 0, 2)

In [11]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [13]:
tup[0]

's'

In [14]:
tup = tuple(['foo', [1,2], True])

In [15]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [16]:
tup[1].append(3)

In [17]:
tup

('foo', [1, 2, 3], True)

In [21]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [22]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [24]:
tup = (4,5,6)
a,b,c = tup
b

5

In [25]:
tup = 4,5,(6,7)
a, b, (c,d) = tup
d

7

python中，替换可以这样做

In [26]:
a, b = 1,2

In [27]:
a

1

In [28]:
b

2

In [29]:
b, a = a, b

In [30]:
a

2

In [31]:
b

1

In [33]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [35]:
values = 1,2,3,4,5
a, b ,*rest = values

In [36]:
a, b

(1, 2)

In [38]:
rest

[3, 4, 5]

tuple方法 ：count,可以统计某个值出现频率

In [39]:
a = (1,2,2,2,2,3,4,3)
a.count(2)

4

**列表**：与元组相比，列表的长度可变、内容可以被修改。 可以用方括号定义，或用list函数

In [40]:
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [41]:
b_list[1] = 'peekaboo'

In [42]:
b_list

['foo', 'peekaboo', 'baz']

In [43]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [45]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

insert的逆运算是pop

In [46]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [49]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo', 'foo', 'foo']

In [50]:
b_list.remove('foo')  # 除去某个值，先找第一个值并除去
b_list

['red', 'baz', 'dwarf', 'foo', 'foo', 'foo']

In [51]:
'dwarf' in b_list

True

In [52]:
'dwarf' not in b_list

False

In [53]:
[4,None,'foo'] + [7,8,(2,3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [54]:
x = [4, None, 'foo']
x.extend([7,8,(2,3)])

In [55]:
x

[4, None, 'foo', 7, 8, (2, 3)]

In [56]:
a = [7,2,5,1,3]
a.sort()

In [57]:
a

[1, 2, 3, 5, 7]

In [58]:
b = ['saw', 'small', 'he', 'foxes', 'six']
b.sort(key=len)

In [59]:
b

['he', 'saw', 'six', 'small', 'foxes']

**bisect模块**

In [61]:
import bisect
c = [1,2,2,2,3,4,7]
bisect.bisect(c,0)

0

In [62]:
bisect.insort(c,6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [63]:
seq = [7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [64]:
seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

切片中包含的元素个数 stop - start

在第二个冒号后面使用step,可以隔一个取一个元素

In [65]:
seq[::2]

[7, 3, 3, 6, 1]

使用-1，可以将列表或者元组颠倒过来

In [68]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

序列函数

enumerate函数

In [ ]:
# 跟踪当前项的序号
i = 0
for value in collection：
    # do something with value
    i += 1
-------------
for i , value in enumerate(collection)
    #do something with value

In [71]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i , v in enumerate(some_list):
    mapping[v] = i
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

sorted函数

In [72]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [73]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

zip函数：可以将多个列表、元组或其它序列成对组合成一个元组列表

In [76]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [77]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [78]:
for i,(a, b) in enumerate(zip(seq1, seq2)):
    print('{0}:{1},{2}'.format(i,a, b))

0:foo,one
1:bar,two
2:baz,three