# 10时间序列

In [1]:
from datetime import datetime
now = datetime.now()

In [2]:
now

datetime.datetime(2019, 3, 15, 14, 36, 39, 623380)

In [3]:
now.year,now.month,now.day

(2019, 3, 15)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [5]:
delta

datetime.timedelta(926, 56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2011,1,7)

In [10]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [11]:
stamp = datetime(2011,1,3)

In [12]:
str(stamp)

'2011-01-03 00:00:00'

In [13]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [21]:
from datetime import datetime
import pandas as pd
import numpy as np

In [22]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
....: datetime(2011, 1, 7), datetime(2011, 1, 8),
....: datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [23]:
ts = pd.Series(np.random.randn(6), index=dates)

In [24]:
ts

2011-01-02   -0.002747
2011-01-05    1.238111
2011-01-07    0.344067
2011-01-08    0.667909
2011-01-10   -0.101762
2011-01-12   -0.942307
dtype: float64

In [25]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [26]:
ts[::2]

2011-01-02   -0.002747
2011-01-07    0.344067
2011-01-10   -0.101762
dtype: float64

In [27]:
ts + ts[::2]

2011-01-02   -0.005494
2011-01-05         NaN
2011-01-07    0.688134
2011-01-08         NaN
2011-01-10   -0.203525
2011-01-12         NaN
dtype: float64

In [28]:
ts.index.dtype

dtype('<M8[ns]')

In [29]:
stamp = ts.index[2]

In [30]:
ts[stamp]

0.34406690829548026

In [31]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000',periods=1000))

In [32]:
longer_ts

2000-01-01    1.710388
2000-01-02   -1.387759
2000-01-03   -1.202766
2000-01-04    0.913327
2000-01-05   -2.581836
2000-01-06   -0.588486
2000-01-07    0.726690
2000-01-08   -1.289078
2000-01-09    1.310578
2000-01-10   -0.401888
2000-01-11   -0.015162
2000-01-12   -0.239288
2000-01-13   -1.332439
2000-01-14   -1.037343
2000-01-15    1.151575
2000-01-16    0.298713
2000-01-17   -1.736407
2000-01-18    0.635025
2000-01-19   -2.094275
2000-01-20   -1.535832
2000-01-21    0.073799
2000-01-22    0.003807
2000-01-23    0.431789
2000-01-24   -1.522824
2000-01-25   -0.788412
2000-01-26   -1.164469
2000-01-27    1.397779
2000-01-28   -0.261853
2000-01-29   -1.648836
2000-01-30    0.614841
                ...
2002-08-28    0.614890
2002-08-29    1.597960
2002-08-30   -0.121515
2002-08-31    0.570267
2002-09-01    2.646810
2002-09-02    0.166083
2002-09-03   -1.610887
2002-09-04    0.059556
2002-09-05   -0.851380
2002-09-06   -1.811459
2002-09-07    0.625155
2002-09-08    1.404023
2002-09-09   -0.881870
2002-09-10    0.105483
2002-09-11    1.670542
2002-09-12   -0.553948
2002-09-13   -1.315849
2002-09-14    0.663559
2002-09-15    0.296761
2002-09-16   -0.310005
2002-09-17   -1.169563
2002-09-18    0.018613
2002-09-19    1.727337
2002-09-20    1.114799
2002-09-21   -0.979626
2002-09-22    1.387951
2002-09-23   -2.124566
2002-09-24    1.271779
2002-09-25    0.159346
2002-09-26   -0.725251
Freq: D, Length: 1000, dtype: float64

In [33]:
longer_ts['2001']

2001-01-01    1.042497
2001-01-02    1.534781
2001-01-03    0.102673
2001-01-04    0.014529
2001-01-05   -1.491305
2001-01-06   -0.039236
2001-01-07   -0.759526
2001-01-08   -0.411457
2001-01-09    0.061129
2001-01-10    2.572279
2001-01-11    0.537098
2001-01-12    0.997418
2001-01-13    0.811741
2001-01-14   -0.010600
2001-01-15   -0.450684
2001-01-16    0.726367
2001-01-17   -1.494154
2001-01-18    0.126126
2001-01-19    0.312159
2001-01-20   -0.646492
2001-01-21   -0.604149
2001-01-22    0.487090
2001-01-23   -0.846144
2001-01-24    0.126079
2001-01-25   -0.018857
2001-01-26    1.096743
2001-01-27    1.025781
2001-01-28   -3.147041
2001-01-29   -0.197102
2001-01-30    0.188014
                ...
2001-12-02    0.849130
2001-12-03   -1.756010
2001-12-04    0.810773
2001-12-05    2.126701
2001-12-06   -0.444691
2001-12-07   -0.863942
2001-12-08    1.002080
2001-12-09    1.166465
2001-12-10    0.728561
2001-12-11    0.930145
2001-12-12    1.372738
2001-12-13    1.111020
2001-12-14   -0.086526
2001-12-15   -1.751841
2001-12-16    0.285501
2001-12-17   -2.340167
2001-12-18   -0.538468
2001-12-19    0.478228
2001-12-20    0.557055
2001-12-21    0.471489
2001-12-22    1.234272
2001-12-23    0.797170
2001-12-24    0.756729
2001-12-25    0.815152
2001-12-26    1.551997
2001-12-27    1.333899
2001-12-28   -0.904575
2001-12-29    0.940379
2001-12-30    0.228833
2001-12-31    0.088813
Freq: D, Length: 365, dtype: float64

In [34]:
longer_ts['2001-05']

2001-05-01   -0.987880
2001-05-02   -0.565613
2001-05-03   -0.601014
2001-05-04   -2.585913
2001-05-05    1.158335
2001-05-06   -0.314355
2001-05-07    0.282007
2001-05-08   -0.680625
2001-05-09    0.250792
2001-05-10    0.337144
2001-05-11    0.348123
2001-05-12    0.500943
2001-05-13   -0.326692
2001-05-14   -0.747166
2001-05-15    0.219172
2001-05-16   -0.241456
2001-05-17   -1.637612
2001-05-18   -0.650986
2001-05-19    1.317393
2001-05-20    1.200352
2001-05-21   -0.265399
2001-05-22   -1.753592
2001-05-23   -0.561695
2001-05-24   -1.340675
2001-05-25   -1.820674
2001-05-26    1.224230
2001-05-27    0.328897
2001-05-28    0.784510
2001-05-29    0.939642
2001-05-30    0.164512
2001-05-31   -1.717158
Freq: D, dtype: float64

In [36]:
ts[datetime(2011,1,7):]

2011-01-07    0.344067
2011-01-08    0.667909
2011-01-10   -0.101762
2011-01-12   -0.942307
dtype: float64

In [37]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.344067
2011-01-08    0.667909
2011-01-10   -0.101762
dtype: float64

In [38]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.002747
2011-01-05    1.238111
2011-01-07    0.344067
2011-01-08    0.667909
dtype: float64

In [40]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000','1/2/2000', '1/2/2000', '1/3/2000'])

In [41]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [42]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [43]:
dup_ts.index.is_unique

False

In [44]:
dup_ts['1/3/2000']

4

In [45]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [47]:
grouped = dup_ts.groupby(level=0)

In [48]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [49]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [50]:
ts

2011-01-02   -0.002747
2011-01-05    1.238111
2011-01-07    0.344067
2011-01-08    0.667909
2011-01-10   -0.101762
2011-01-12   -0.942307
dtype: float64

In [51]:
resampler = ts.resample('D')

In [52]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [53]:
index = pd.date_range('2012-04-01','2012-06-01')

In [54]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [56]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range('2000-01-01','2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [58]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range('2012-05-02 12:56:31', periods=5,
normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [61]:
 pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [62]:
rng = pd.date_range('2012-01-01','2012-09-02',freq='WOM-3FRI')

In [63]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [64]:
ts = pd.Series(np.random.randn(4),
....: index=pd.date_range('1/1/2000', periods=4,
freq='M'))

In [65]:
ts

2000-01-31   -0.301920
2000-02-29    1.050542
2000-03-31   -2.332152
2000-04-30   -0.045222
Freq: M, dtype: float64

In [66]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.301920
2000-04-30    1.050542
Freq: M, dtype: float64

In [67]:
ts.shift(-2)

2000-01-31   -2.332152
2000-02-29   -0.045222
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [68]:
ts.shift(2, freq='M')

2000-03-31   -0.301920
2000-04-30    1.050542
2000-05-31   -2.332152
2000-06-30   -0.045222
Freq: M, dtype: float64

In [69]:
ts.shift(3, freq='D')

2000-02-03   -0.301920
2000-03-03    1.050542
2000-04-03   -2.332152
2000-05-03   -0.045222
dtype: float64

In [70]:
from pandas.tseries.offsets import Day, MonthEnd

In [71]:
noe = datetime(2011, 11, 17)

In [72]:
now + 3*Day()

Timestamp('2019-03-18 14:36:39.623380')

In [73]:
import pytz

In [74]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [76]:
tz = pytz.timezone('America/New_York')
tz

In [77]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [78]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [79]:
ts

2012-03-09 09:30:00    0.175869
2012-03-10 09:30:00   -0.291972
2012-03-11 09:30:00    1.357909
2012-03-12 09:30:00   -0.220307
2012-03-13 09:30:00    0.057193
2012-03-14 09:30:00   -1.310914
Freq: D, dtype: float64

In [80]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [81]:
stamp_utc = stamp.tz_localize('utc')

In [82]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [83]:
p = pd.Period(2007, freq='A-DEC')

In [84]:
p

Period('2007', 'A-DEC')

In [85]:
pd.Series(np.random.randn(6), index=rng)

2012-03-09 09:30:00   -2.649422
2012-03-10 09:30:00    0.435934
2012-03-11 09:30:00    1.695539
2012-03-12 09:30:00    2.462525
2012-03-13 09:30:00    0.738641
2012-03-14 09:30:00   -0.601463
Freq: D, dtype: float64

In [86]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [87]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [88]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [89]:
p = pd.Period('2007', freq='A-DEC')

In [90]:
p

Period('2007', 'A-DEC')

In [91]:
p = pd.Period('2007', freq='A-JUN')

In [92]:
p

Period('2007', 'A-JUN')

In [93]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [94]:
ts = pd.Series(np.random.randn(3), index=rng)

In [95]:
ts

2000-01-31    0.452118
2000-02-29   -1.661300
2000-03-31    0.648040
Freq: M, dtype: float64

In [96]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')

In [97]:
ts2 = pd.Series(np.random.randn(6), index=rng)

In [98]:
ts2

2000-01-29    0.862227
2000-01-30   -1.611069
2000-01-31   -0.299321
2000-02-01   -1.491089
2000-02-02    0.237345
2000-02-03    0.400167
Freq: D, dtype: float64

In [99]:
ts2.to_period('M')

2000-01    0.862227
2000-01   -1.611069
2000-01   -0.299321
2000-02   -1.491089
2000-02    0.237345
2000-02    0.400167
Freq: M, dtype: float64

In [100]:
pts = ts2.to_period()

In [101]:
pts

2000-01-29    0.862227
2000-01-30   -1.611069
2000-01-31   -0.299321
2000-02-01   -1.491089
2000-02-02    0.237345
2000-02-03    0.400167
Freq: D, dtype: float64

In [102]:
pts.to_timestamp(how='end')

2000-01-29    0.862227
2000-01-30   -1.611069
2000-01-31   -0.299321
2000-02-01   -1.491089
2000-02-02    0.237345
2000-02-03    0.400167
Freq: D, dtype: float64

In [103]:
data = pd.read_csv('examples/macrodata.csv')

In [104]:
data.head(5)

,year,quarter,realgdp,realcons,realinv,realgovt,realdpi,cpi,m1,tbilrate,unemp,pop,infl,realint
0,1959.0,1.0,2710.349,1707.4,286.898,470.045,1886.9,28.98,139.7,2.82,5.8,177.146,0.00,0.00
1,1959.0,2.0,2778.801,1733.7,310.859,481.301,1919.7,29.15,141.7,3.08,5.1,177.830,2.34,0.74
2,1959.0,3.0,2775.488,1751.8,289.226,491.260,1916.4,29.35,140.5,3.82,5.3,178.657,2.74,1.09
3,1959.0,4.0,2785.204,1753.7,299.356,484.052,1931.3,29.37,140.0,4.33,5.6,179.386,0.27,4.06
4,1960.0,1.0,2847.699,1770.5,331.722,462.199,1955.5,29.54,139.6,3.50,5.2,180.007,2.31,1.19

In [105]:
data.year

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
5      1960.0
6      1960.0
7      1960.0
8      1961.0
9      1961.0
10     1961.0
11     1961.0
12     1962.0
13     1962.0
14     1962.0
15     1962.0
16     1963.0
17     1963.0
18     1963.0
19     1963.0
20     1964.0
21     1964.0
22     1964.0
23     1964.0
24     1965.0
25     1965.0
26     1965.0
27     1965.0
28     1966.0
29     1966.0
        ...
173    2002.0
174    2002.0
175    2002.0
176    2003.0
177    2003.0
178    2003.0
179    2003.0
180    2004.0
181    2004.0
182    2004.0
183    2004.0
184    2005.0
185    2005.0
186    2005.0
187    2005.0
188    2006.0
189    2006.0
190    2006.0
191    2006.0
192    2007.0
193    2007.0
194    2007.0
195    2007.0
196    2008.0
197    2008.0
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64

In [106]:
data.quarter

0      1.0
1      2.0
2      3.0
3      4.0
4      1.0
5      2.0
6      3.0
7      4.0
8      1.0
9      2.0
10     3.0
11     4.0
12     1.0
13     2.0
14     3.0
15     4.0
16     1.0
17     2.0
18     3.0
19     4.0
20     1.0
21     2.0
22     3.0
23     4.0
24     1.0
25     2.0
26     3.0
27     4.0
28     1.0
29     2.0
      ...
173    2.0
174    3.0
175    4.0
176    1.0
177    2.0
178    3.0
179    4.0
180    1.0
181    2.0
182    3.0
183    4.0
184    1.0
185    2.0
186    3.0
187    4.0
188    1.0
189    2.0
190    3.0
191    4.0
192    1.0
193    2.0
194    3.0
195    4.0
196    1.0
197    2.0
198    3.0
199    4.0
200    1.0
201    2.0
202    3.0
Name: quarter, Length: 203, dtype: float64

In [108]:
 index = pd.PeriodIndex(year=data.year,
quarter=data.quarter,
 freq='Q-DEC')

In [109]:
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [110]:
data.index = index

In [111]:
data.infl

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
1961Q3    0.80
1961Q4    0.80
1962Q1    2.26
1962Q2    0.13
1962Q3    2.11
1962Q4    0.79
1963Q1    0.53
1963Q2    2.75
1963Q3    0.78
1963Q4    2.46
1964Q1    0.13
1964Q2    0.90
1964Q3    1.29
1964Q4    2.05
1965Q1    1.28
1965Q2    2.54
1965Q3    0.89
1965Q4    2.90
1966Q1    4.99
1966Q2    2.10
          ...
2002Q2    1.56
2002Q3    2.66
2002Q4    3.08
2003Q1    1.31
2003Q2    1.09
2003Q3    2.60
2003Q4    3.02
2004Q1    2.35
2004Q2    3.61
2004Q3    3.58
2004Q4    2.09
2005Q1    4.15
2005Q2    1.85
2005Q3    9.14
2005Q4    0.40
2006Q1    2.60
2006Q2    3.97
2006Q3   -1.58
2006Q4    3.30
2007Q1    4.58
2007Q2    2.75
2007Q3    3.45
2007Q4    6.38
2008Q1    2.82
2008Q2    8.53
2008Q3   -3.16
2008Q4   -8.79
2009Q1    0.94
2009Q2    3.37
2009Q3    3.56
Freq: Q-DEC, Name: infl, Length: 203, dtype: float64

In [113]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [114]:
ts

2000-01-01    0.507829
2000-01-02   -2.179066
2000-01-03   -2.198766
2000-01-04    1.778536
2000-01-05    0.166502
2000-01-06   -1.069808
2000-01-07   -1.451333
2000-01-08    0.081005
2000-01-09   -1.003329
2000-01-10   -0.674200
2000-01-11   -2.622810
2000-01-12   -0.181196
2000-01-13   -2.654875
2000-01-14   -0.123322
2000-01-15   -1.018651
2000-01-16    0.355969
2000-01-17    1.131566
2000-01-18    0.313752
2000-01-19    0.759726
2000-01-20    0.802690
2000-01-21   -0.438041
2000-01-22   -1.396819
2000-01-23   -3.098012
2000-01-24   -0.076774
2000-01-25    1.399630
2000-01-26   -1.247865
2000-01-27    0.827118
2000-01-28    1.042469
2000-01-29    0.083318
2000-01-30    1.342620
                ...
2000-03-11   -1.384094
2000-03-12    2.029748
2000-03-13   -1.469538
2000-03-14    1.094531
2000-03-15    0.185585
2000-03-16    0.266366
2000-03-17    0.859064
2000-03-18    0.453339
2000-03-19   -0.393990
2000-03-20   -0.580484
2000-03-21    0.898151
2000-03-22   -0.997494
2000-03-23    1.118631
2000-03-24   -0.064068
2000-03-25    0.050602
2000-03-26    0.893039
2000-03-27   -1.569958
2000-03-28    0.462417
2000-03-29   -0.874724
2000-03-30   -0.795032
2000-03-31    1.643807
2000-04-01   -0.197505
2000-04-02   -0.064424
2000-04-03   -1.325194
2000-04-04    0.061908
2000-04-05    1.014131
2000-04-06   -0.225992
2000-04-07    1.597395
2000-04-08    0.255494
2000-04-09   -1.029128
Freq: D, Length: 100, dtype: float64

In [115]:
ts.resample('M').mean()

2000-01-31   -0.365103
2000-02-29   -0.167192
2000-03-31   -0.136073
2000-04-30    0.009632
Freq: M, dtype: float64

In [116]:
ts.resample('M', kind='period').mean()

2000-01   -0.365103
2000-02   -0.167192
2000-03   -0.136073
2000-04    0.009632
Freq: M, dtype: float64

In [117]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')

In [118]:
ts = pd.Series(np.arange(12), index=rng)

In [119]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [120]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [121]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [122]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [123]:
ts.resample('5min', closed='right',
.....: label='right', loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

In [124]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [125]:
df_daily = frame.resample('D').asfreq()

NameError: name 'frame' is not defined

In [126]:
 frame.resample('D').ffill(limit=2)

NameError: name 'frame' is not defined

In [ ]:
spx_px = close_px_all['SPX']
In [257]: spx_rets = spx_px.pct_change()
In [258]: returns = close_px.pct_change()

In [128]:
 corr = returns.AAPL.rolling(125,min_periods=100).corr(spx_rets)

NameError: name 'returns' is not defined

In [127]:
 corr = returns.rolling(125, min_periods=100).corr(spx_rets)

NameError: name 'returns' is not defined