# 6 数据加载、存储与文件格式

In [4]:
import pandas as pd

In [15]:
df=pd.read_csv('D:/Datewhale/Datawhale/data/ex1.csv')

In [16]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [20]:
pd.read_table('D:/Datewhale/Datawhale/data/ex1.csv',sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
pd.read_csv('D:/Datewhale/Datawhale/data/ex1.csv',header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [7]:
pd.read_csv('D:/Datewhale/Datawhale/data/ex1.csv',names=['a', 'b', 'c', 'd','message'])

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [10]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv('D:/Datewhale/Datawhale/data/ex1.csv',names=names, index_col='message')

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [12]:
pd.read_csv('D:/Datewhale/Datawhale/data/csv_mindex.csv', index_col=['key1','key2'])

           value1  value2
key1 key2
one  a          1        2
     b          3        4
     c          5        6
     d          7        8
two  a          9       10
     b         11       12
     c         13       14
     d         15       16

In [15]:
list(open('D:/Datewhale/Datawhale/data/ex3.txt'))

["'            A         B         C\\n',  \n",
 "'aaa -0.264438 -1.026059 -0.619500\\n',  \n",
 "'bbb  0.927272  0.302904 -0.032399\\n', \n",
 "'ccc -0.264273 -0.386314 -0.217601\\n',  \n",
 "'ddd -0.871858 -0.348382  1.100491\\n'"]

In [16]:
result = pd.read_table('D:/Datewhale/Datawhale/data/ex3.txt', sep='\s+')

In [17]:
result

      '         A         B          C\n',
0  'aaa -0.264438 -1.026059  -0.619500\n',
1  'bbb  0.927272  0.302904  -0.032399\n',
2  'ccc -0.264273 -0.386314  -0.217601\n',
3  'ddd -0.871858 -0.348382    1.100491\n'

In [18]:
pd.read_csv('D:/Datewhale/Datawhale/data/ex4.csv', skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
result = pd.read_csv('D:/Datewhale/Datawhale/data/ex5.csv')

In [20]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4      NA
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12      foo

In [21]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     False
1      False  False  False   True  False     False
2      False  False  False  False  False     False

In [25]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 30, 'name': 'Scott', 'pets': ['Zeus', 'Zuko']},
  {'age': 38, 'name': 'Katie', 'pets': ['Sixes', 'Stache', 'Cisco']}]}